.ErrorDialogTitle {
    font: normal normal normal 18px A1 Serif !important;
}

.ErrorFragmentWrapper {
    margin: 5px 0px;
}

.ErrorFragmentWrapper__type {
    font-weight: bold !important;
}

.Customizations {
    margin-top: 20px;
}

.Customizations__intro {
    font-weight: bold !important;
}

.Customization {
    margin: 20px 10px;
}

.Customization__title {
    font-weight: bold !important;
}

.Backdrop {
    color: #fff;
    z-index: 10000;
}