body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__button {
    color: #1976d2 !important;
    background-color: #fff !important;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

.topics-table {
    width: 100%;
}

.topics-table__header {
    background-color: #eee;
}

.topics-table__row:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}