body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    color: #000;
}

.header__button {
    color: #000 !important;
    align-items: center;
    justify-content: center;
}